body {
  width: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  font-size: larger;
  color: white;
  position: sticky;
}
h1 {
  margin-left: 30px;
}
nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-self: center;
}
.header {
  display: flex;

  flex-direction: row;
  background-color: lightgray;
  align-content: center;
}
.upcomingEvents {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
.upcomingEvents h2 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 20px;
  margin-top: 40px;
  width: 80%;
}
.upcomingEvents,
li {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 1.8rem;
}
.upcomingEvents h3 {
  margin: auto;
  width: 80%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}
