body {
  width: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  font-size: larger;
  color: white;
  position: sticky;
}
h1 {
  margin-left: 30px;
}
nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-self: center;
}
.header {
  display: flex;

  flex-direction: row;
  background-color: lightgray;
  align-content: center;
}
