body {
  width: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  font-size: larger;
  color: white;
  background-color: lightgray;
}
h1 {
  margin-left: 30px;
}
nav {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-self: center;
}
.header {
  display: flex;

  flex-direction: row;

  align-content: center;
}
.link {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.link :hover {
  color: gray;
}
