.homePage {
  background-image: url("https://images.unsplash.com/photo-1531844251246-9a1bfaae09fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JvdXAlMjBvZiUyMHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  width: 100%;
  height: 50vh;
}
.homePage,
h2 {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  font-size: 3rem;
}
.description {
  color: white;
}
.description,
h4 {
  font-size: smaller;
  font-weight: 200;
}
.description,
h2,
h4 {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 50px;
}
.upcomingEvents {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  color: black;
}
.upcomingEvents h2 {
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
  padding: 20px;
  margin-top: 40px;
  width: 80%;
}
.upcomingEvents,
li {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 1.8rem;
}
.upcomingEvents h3 {
  margin: auto;
  width: 80%;
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.galleryBlog {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.galleryInfo {
  display: flex;
  flex-direction: column;
}
.galleryBlog img {
  display: flex;
  margin-left: 50px;
}
